.main-profile{
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.contanier-profile {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 50%;
}

.h1-profile {
  background-color:#012340;
  color: aliceblue;
  width: 100%;
  text-align: center;
  margin:50px 0px;
}

.input-profile {
  margin-bottom: 30px;
}
