main {
  height: 100vh;
}

.container-table {
  background-color: rgb(230, 233, 236);
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  width: 100%;
}

tr th {
  background-color: #708496;
  border-radius: 5px;
  padding: 6px 10px;
}

tr td {
  background-color: #c3c8cc;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
}
 
.tr-card-btn {
  display: flex;
  justify-content: space-evenly;
}

.bnt-table {
  text-align: center;
  font-size: 16px;
  margin: 0;
  padding: 0;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  cursor: pointer;
}

.btn-green {
  background-color: #10be3cb0;
  border: #10be3cb0 solid 1px;
  color:black;
  font-weight: 600;
}

.btn-blue {
  background-color: #3793df;
  border: #3793df solid 1px;
  color: black;
  font-weight: 600;
}
